@use "../../../styles/abstracts" as abs;

.projectsCard {
  position: relative;
  @include abs.flxAllCtrBox;
  flex-direction: column;
  width: 1440px;
  height: 80vh;
  /*   background-color: rgba(109, 196, 122, 0.397); */
  @include abs.respond-to("xxl") {
    width: 70vw;
  }
  @include abs.respond-to("xl") {
    height: 70vh;
  }

  @include abs.respond-to("lg") {
    height: 60vh;
  }

  @include abs.respond-to("sm") {
    width: 90%;
    height: auto;
  }

  @include abs.respond-to("xs") {
    width: 320px;
    /*   height: 200px; */ //Last update, keep an eye on this
  }

  @include abs.respond-to-custom("md", "lg") {
    width: 50vw;
    height: 100%;
  }
  @include abs.respond-to-custom("md", "md") {
    width: 40vw;
    height: 100%;
  }

  @include abs.respond-to-custom("md", "sm") {
    flex-direction: row;
    width: 50vw;
    height: 100%;
  }

  &__img {
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 1;
    width: 100%;
    height: 80%;
    background-size: cover; // change if not using image later on
    background-position: center;
    filter: drop-shadow(0.5rem 1rem 0.5rem rgba(26, 26, 26, 1));

    @include abs.respond-to("sm") {
      width: 100%;
      height: 320px;
      filter: none;
    }
    @include abs.respond-to("xs") {
      width: 320px;
      height: 200px;
      filter: none;
    }
    img {
      object-fit: contain;
    }
    @include abs.respond-to-custom("md", "sm") {
      width: 70%;
      height: 100%;
    }
  }

  &__info {
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 20%;
    font-size: 2rem;
    padding: 2rem 0;

    @include abs.respond-to("lg") {
      padding: 1rem;
    }

    @include abs.respond-to("sm") {
      margin: 2rem 0 0 0;
      flex-direction: column;
      padding: 0;
    }
    @include abs.respond-to("xs") {
      margin: 0;
      padding: 1rem;
      height: auto;
      box-shadow: 0 1px 0 abs.$hover-purple;
    }
    @include abs.respond-to-custom("md", "sm") {
      width: 30%;
      flex-direction: column;
      padding: 1rem;
      height: 100%;
      justify-content: center;
    }

    &__title {
      font-size: 2.5rem;
      font-weight: 200;
      letter-spacing: 0.25rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem 4rem 1rem 1rem;
      width: 40%;
      height: 100%;
      box-sizing: border-box;

      @include abs.respond-to("lg") {
        font-size: 1.5rem;
        padding: 1rem 2rem 1rem 1rem;
      }

      @include abs.respond-to("sm") {
        justify-content: flex-start;
        width: 100%;
        padding: 0 0 0 1.5rem;
      }
      @include abs.respond-to("xs") {
        padding: 0rem;
        width: 100%;
        justify-content: center;
        font-size: 1rem;
      }

      @include abs.respond-to-custom("md", "lg") {
        letter-spacing: 0;
        font-size: 2rem;
      }
      @include abs.respond-to-custom("md", "md") {
        height: auto;
      }

      @include abs.respond-to-custom("md", "sm") {
        justify-content: flex-start;
        padding: 0;
        letter-spacing: 0;
        width: 100%;
        height: auto;
        margin: 0 0 1rem 0;
        font-size: 2rem;
      }
    }
    &__description {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem 1rem 1rem 0rem;
      width: 60%;
      height: 100%;
      box-sizing: border-box;

      @include abs.respond-to("sm") {
        width: 100%;
        padding: 0;
        margin: 1rem 0 0 0;
      }
      @include abs.respond-to("xs") {
        display: none;
      }

      @include abs.respond-to-custom("md", "sm") {
        padding: 0;
        letter-spacing: 0;
        width: 100%;
        height: auto;
      }
      &__txt {
        font-size: 1.25rem;
        font-weight: 100;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        border-left: 2px solid abs.$light-grey;
        padding: 0 0 0 4rem;
        @include abs.respond-to("lg") {
          padding: 0 0 0 2rem;
        }
        @include abs.respond-to("sm") {
          font-size: 1rem;
          border-left: none;
          box-shadow: -2px 0px 0 abs.$hover-purple;
          padding: 0 0 0 1.5rem;
          /*   word-wrap: break-word;
          hyphens: auto; */
        }
        @include abs.respond-to-custom("md", "sm") {
          border-left: none;
          border-top: 2px solid abs.$light-grey;
          padding: 1rem 0 0 0;
          letter-spacing: 0;
          width: 100%;
          height: auto;
          font-size: 1rem;
        }
      }
    }
  }
}

/* 
 easy elipsis on a certain number of lines

display: -webkit-box;
margin: auto;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis; */
