@use "../../styles/abstracts" as abs;

.horizontalScroller {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: var(--scrollingSection-height);

  &__stickyContainer {
    z-index: 1;
    position: sticky;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    top: 0;
    padding: abs.$headerHeight 0 0 0;

    &__content {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      gap: 30vw;
      padding: 4rem 0;
    }
  }
}
