.projectsDisplay {
  background-color: rgba(196, 109, 192, 0.397);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    box-sizing: border-box;
    background-color: rgba(103, 100, 197, 0.677);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    padding: 2rem;
  }

  &__container__grid {
    box-sizing: border-box;
    width: 100%;
    /*    max-width: 900px; */
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));

    gap: 3.5rem;
  }

  &__container__grid__item {
    box-sizing: border-box;
    /*    width: 100%; */
    /* height: 10rem; */
    background-color: rgba(148, 100, 100, 0.828);
  }
}
