@use "../../styles/abstracts" as abs;

.projects {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: var(--projectSection-height);
  box-shadow: inset 0rem 2rem 2rem -2rem abs.$dark-grey;
  background: abs.$bg-gradient-project1-2, abs.$bg-noise2;

  /* Particles id props i have to pass */

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    &__content {
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 40vh;

      &__trigger {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 6rem;
        font-weight: 300;
        color: abs.$light-grey;
        width: auto;
        height: 100%;

        &__PR {
          margin: 0 0 0 30rem;
          letter-spacing: 2rem;
          user-select: none;
        }

        &__JECTS {
          letter-spacing: 2rem;
          user-select: none;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.8;
  }
}
