@use "../../styles/abstracts" as abs;

.projects {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: var(--projectSection-height);
  box-shadow: inset 0rem 2rem 2rem -2rem abs.$dark-grey;
  background: abs.$bg-gradient-project1-2-500vh, abs.$bg-noise2;
  @include abs.respond-to("lg") {
    height: auto;
  }
  @include abs.respond-to("sm") {
    height: auto;
    background: abs.$dark-grey;
  }

  &__container {
    position: relative;
    @include abs.flxAllCtrBox;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    @include abs.respond-to("sm") {
      height: auto;
      width: 100%;
      padding: 2rem;
      box-sizing: border-box;
      background: abs.$bg-noise abs.$dark-purple;
    }
    @include abs.respond-to("xs") {
      height: auto;
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
    }

    &__content {
      z-index: 0;
      @include abs.flxAllCtrBox;
      flex-direction: column;
      width: 100vw;
      height: 40vh;
      @include abs.respond-to("xs") {
        border-radius: 4px;
        box-sizing: border-box;
        width: 100%;
        height: 30vh;
      }

      &__trigger {
        margin-left: 10%;
        @include abs.flxAllCtrBox;
        text-align: center;
        font-size: 6rem;
        font-weight: 300;
        color: abs.$light-grey;
        width: auto;
        height: 100%;
        padding: 0 2rem;

        @include abs.respond-to("xxl") {
          font-size: 5rem;
        }
        @include abs.respond-to("xl") {
          font-size: 4rem;
        }
        @include abs.respond-to("lg") {
          margin-left: 0;
          font-size: 3rem;
        }
        @include abs.respond-to("md") {
          height: auto;
          font-size: 2.5rem;
          flex-wrap: wrap;
        }
        @include abs.respond-to("sm") {
          height: auto;
          font-size: 2rem;
          flex-wrap: wrap;
          gap: 1rem;
          line-height: 1.5;
          padding: 0 1rem;
          background: abs.$bg-noise, abs.$darker-grey;
          border-radius: 4px;
          padding: 1rem;
        }
        @include abs.respond-to("xs") {
          gap: 0.5rem;
          height: auto;
          font-size: 1.5rem;
          flex-wrap: wrap;
        }

        @include abs.respond-to-custom("md", "sm") {
          font-size: 3rem;
        }

        &__PR,
        &__JECTS {
          letter-spacing: 2rem;
          user-select: none;
          @include abs.respond-to("md") {
            letter-spacing: 1.75rem;
          }
          @include abs.respond-to("sm") {
            letter-spacing: 0.875rem;
          }
          @include abs.respond-to("xs") {
            letter-spacing: 0.5rem;
            color: abs.$light-purple;
            font-weight: 500;
          }
        }

        &__PR {
          width: auto;
          /* margin: 0 0 0 30rem; old value that worked for english text */
          @include abs.respond-to("xxl") {
            margin: 0 2rem 0 0rem;
          }
          @include abs.respond-to("xl") {
            margin: 0 1.5rem 0 0rem;
          }
          @include abs.respond-to("lg") {
            margin: 0 0 0 0rem;
          }
          @include abs.respond-to("xs") {
            margin: 0 0.5rem 0 0rem;
          }
        }

        &__JECTS {
          @include abs.respond-to("xxl") {
            margin: 0 0 0 2.5rem;
          }
          @include abs.respond-to("xl") {
            margin: 0 0 0 2rem;
          }
          @include abs.respond-to("lg") {
            margin: 0 0 0 1rem;
          }
          @include abs.respond-to("sm") {
            margin: 0 0 0 0rem;
          }
          @include abs.respond-to("xs") {
            margin: 0 0 0 0rem;
          }
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.8;
  }
}
