@use "../../styles/abstracts" as abs;

.projects {
  display: flex;
  width: 100%;
  height: 100vh;
  //is way enough no need to re-add commented pattern
  background: abs.$bg-gradient-project2, abs.$bg-gradient-project1,
    abs.$bg-noise2;
  /* abs.$bg-patternLos-blackish */
  box-shadow: inset 0rem 2rem 2rem -2rem abs.$dark-grey;

  &__container {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &__content {
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40%;

      &__trigger {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 6rem;
        font-weight: 300;
        color: abs.$light-grey;
        width: auto;
        height: 100%;

        &__PR {
          transform-origin: right;
          margin: 0 0 0 30rem;
          animation: pulse 6s ease-in-out infinite;
          letter-spacing: 2rem;
          user-select: none;
        }

        &__JECTS {
          transform-origin: left;
          letter-spacing: 2rem;
          animation: pulse 6s ease-in-out infinite;
          user-select: none;
        }
      }
    }
  }
  &__altContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 128, 0, 0.162); */
    background: rgb(26, 33, 26);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.8;
  }
}
