@use "../../../styles/abstracts" as abs;

.horizontalScroller {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: var(--scrollingSection-height);

  @include abs.respond-to("md") {
    padding: 6rem 2rem;
    height: auto;
    box-sizing: border-box;
  }

  @include abs.respond-to("sm") {
    padding: 6rem 2rem;
    height: auto;
    box-sizing: border-box;
    background-color: abs.$darker-grey !important;
  }

  @include abs.respond-to("xs") {
    padding: 6rem 1rem;
  }

  &__stickyContainer {
    z-index: 1;
    position: sticky;
    overflow: hidden;
    @include abs.flxAllCtrBox;
    width: auto;
    height: 100vh;
    top: 0;
    padding: abs.$headerHeight 0 0 0;

    @include abs.respond-to("md") {
      position: relative;
      width: 100%;
      padding: 0;
      height: auto;
    }
    @include abs.respond-to("sm") {
      position: relative;
      width: 100%;
      padding: 0;
      height: auto;
    }
    @include abs.respond-to("xs") {
      position: relative;
      width: 100%;
      padding: 0;
      height: auto;
    }

    &__content {
      overflow: hidden;
      @include abs.flxAllCtrBox;
      width: 100%;
      height: 100%;
      gap: 30vw;
      padding: 4rem 1rem;

      @include abs.respond-to("md") {
        flex-direction: column;
        gap: 5rem;
        height: auto;
        padding: 0rem 0;
      }
      @include abs.respond-to("sm") {
        flex-direction: column;
        gap: 5rem;
        height: auto;
        padding: 0rem 0;
      }
      @include abs.respond-to("xs") {
        flex-direction: column;
        gap: 5rem;
        height: auto;
        padding: 0rem 0;
      }
      @include abs.respond-to-custom("md", "sm") {
        padding: 0rem 0 4rem 0;
      }
    }
  }
}
