@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.button {
  background-color: abs.$dark-purple;
  color: abs.$light-grey;
  font-family: base.$main-btn-font-family;
  font-weight: base.$main-btn-font-weight;
  font-size: base.$main-btn-font-size;
  letter-spacing: base.$main-btn-spacing;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  gap: 0.875rem;
  height: 3rem;
  width: 100%;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  white-space: nowrap;
  &:disabled {
    background: abs.$grey;
    color: #666;
    filter: none;
    cursor: default;
    box-shadow: none;
    &:hover {
      background: abs.$grey;
    }
  }
  @include abs.respond-to-custom("md", "sm") {
    padding: 0.5rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
  }
}

/* Variants */
.primary {
  background: abs.$dark-purple;
  &:hover {
    background: abs.$hover-purple;
  }
  &:active {
    background: abs.$active-purple;
    transform: scale(0.95);
  }
}

.secondary {
  background: abs.$dark-grey;
  &:hover {
    color: abs.$hover-purple;
    transform: scale(1.025);
    &:active {
      transform: scale(0.95);
    }
  }
}

.primaryShort,
.secondaryShort {
  font-size: 1.25rem;
  font-weight: 700;
  width: 20rem;
  height: 4rem;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  gap: 1rem;
  @include abs.respond-to-custom("sm", "md") {
    height: 3rem;
    font-size: 1rem;
  }
  @include abs.respond-to-custom("sm", "sm") {
    height: 2.5rem;
    font-size: 1rem;
  }
}

.primaryShort {
  background: abs.$dark-purple;
  &:hover {
    background: abs.$hover-purple;
  }
  &:active {
    background: abs.$active-purple;
    transform: scale(0.95);
  }
}

.secondaryShort {
  background: abs.$dark-grey;
  &:hover {
    color: abs.$hover-purple;
    transform: scale(1.025);
    &:active {
      transform: scale(0.95);
    }
  }
}

.tertiary {
  background: abs.$light-grey;
  color: abs.$dark-grey;
  font-weight: 700;
  &:hover {
    transform: translateX(0.25rem);
    color: abs.$dark-purple;
  }
  &:active {
    transform: scale(0.95) translateX(0.25rem);
  }
}

.shadow {
  filter: abs.$filterS-Center-4px;
  &:active:hover {
    filter: none;
  }
}

.quatro {
  font-size: 1.25rem;
  font-weight: 200;
  width: auto;
  height: auto;
  gap: 0.5rem;

  &:hover {
    transform: scale(1.025) translateX(0.25rem);
  }
  &:active {
    transform: scale(0.95) translateX(0.25rem);
  }
  @include abs.respond-to("md") {
    background: abs.$grey;
    padding: 1rem 1.5rem;
    filter: none;
  }
  @include abs.respond-to("sm") {
    font-size: 1.125rem;
    padding: 1rem 1rem;
  }

  &.hero {
    background-color: abs.$dark-grey;
    padding: 1rem 1.5rem;
    &:hover {
      background-color: abs.$hover-purple;
      color: abs.$light-grey;
    }
  }

  &.header {
    background-color: transparent;
    padding: 0.875rem 1.5rem;
    color: abs.$medium-grey-rgba;
    filter: none;
    &:hover {
      background-color: abs.$grey;
      color: abs.$hover-purple2;
      transform: scale(1.025);
    }
  }
}

.svgContainer {
  width: 1.5rem;
  @include abs.respond-to("sm") {
    width: 1.25rem;
  }
}
