@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 1.5rem;
  background-color: abs.$dark-purple;
  color: abs.$light-grey;
  font-family: base.$main-btn-font-family;
  font-weight: base.$main-btn-font-weight;
  font-size: base.$main-btn-font-size;
  letter-spacing: base.$main-btn-spacing;
  padding: 0.75rem 1.5rem;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &:disabled {
    background: abs.$grey;
    color: #666;
    cursor: default;
    box-shadow: none;
    &:hover {
      background: abs.$grey;
    }
  }
}

/* Variants */
.primary {
  background: abs.$dark-purple;
  &:hover {
    background: abs.$hover-purple;
    /*  box-shadow: 0px 2px 10px abs.$dark-purple-rgba; */
  }

  &:active {
    background: abs.$active-purple;
    transform: scale(0.95);
  }
}

.secondary {
  background: abs.$dark-grey;
  box-shadow: abs.$sc-shdw-grey;
  &:hover {
    background: abs.$grey;
    box-shadow: abs.$sc-shdw-purple;
    &:active {
      background-color: abs.$active-purple;
      transform: scale(0.95);
    }
  }
}

.tertiary {
  background: abs.$light-grey;
  color: abs.$dark-grey;
  font-weight: 700;
  &:hover {
    /* font-size: 1.1rem; */
    transform: translateX(0.25rem); /* scaleX(1.025); */
    color: abs.$dark-purple;
    box-shadow: abs.$sc-shdw-white;
  }
  &:active {
    background: abs.$dark-grey;
    color: abs.$light-grey;
    transform: scale(0.95) translateX(0.25rem);
  }
}
