@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.maskText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: auto;
  &--left {
    justify-content: flex-start;
    align-items: flex-start;
  }
  &--center {
    justify-content: center;
    align-items: center;
  }
  &--right {
    justify-content: flex-end;
    align-items: flex-end;
  }
  /* MaskText--primary */
  &--primary {
    border-radius: 4px;
    @include abs.respond-to("xs") {
      text-align: center;
    }
  }
  /* MaskText--secondary */
  &--secondary {
    border-radius: 4px;
    @include abs.respond-to("xs") {
      text-align: center;
    }
  }
  /* MaskText--tertiary */
  &--tertiary {
    border-radius: 4px;
    flex-direction: row;
    width: auto;
    @include abs.respond-to("xs") {
      text-align: center;
    }
  }
  /*lineMask*/
  &__lineMask {
    overflow: hidden;
    border-radius: 4px;
    /*lineMask--primary*/
    &--primary {
      /*     letter-spacing: 4px; */
    }
    /*lineMask--secondary*/
    &--secondary {
      padding: 0.25rem 0;
    }
    /*lineMask--tertiary*/
    &--tertiary {
      /*   letter-spacing: 2px; */
    }
  }
  /*p*/
  &__lineMask__p {
    display: flex;
    font-size: 1rem;
    line-height: 1.5;

    /*p--primary*/
    &--primary {
      letter-spacing: 4px;
      font-size: 1.75rem;
      font-weight: 200;
      color: abs.$light-grey;
      filter: drop-shadow(2px 2px 6px rgb(0, 0, 0));
      @include abs.respond-to("xl") {
        font-size: 1.25rem;
      }
      @include abs.respond-to("lg") {
        letter-spacing: 1px;
      }

      @include abs.respond-to("md") {
        letter-spacing: 1px;
        font-size: 1.125rem;
      }
      @include abs.respond-to("sm") {
        font-size: 1.25rem;
      }
      @include abs.respond-to("xs") {
        color: abs.$hover-purple2;
      }
    }
    /*p--secondary*/
    &--secondary {
      font-size: 1.25rem;
      font-weight: 200;
      color: abs.$light-grey;
      @include abs.respond-to("xl") {
        line-height: 1.75;
        font-size: 1.125rem;
        font-weight: 200;
      }
      @include abs.respond-to("lg") {
        font-size: 1rem;
      }

      @include abs.respond-to("xs") {
        text-align: justify;
      }
    }
    /*p--tertiary*/
    &--tertiary {
      font-size: 1.75rem;
      font-weight: 500;
      letter-spacing: 2px;
      color: abs.$light-purple;
      filter: drop-shadow(2px 2px 6px rgba(234, 234, 234, 0.2));
      @include abs.respond-to("xl") {
        font-size: 1.25rem;
        letter-spacing: 3px;
      }

      @include abs.respond-to("lg") {
        font-size: 1rem;
        letter-spacing: 3px;
      }
      @include abs.respond-to("md") {
        font-size: 1.125rem;
        letter-spacing: 1px;
      }
      @include abs.respond-to("xs") {
        font-size: 1.125rem;
        letter-spacing: 1px;
      }
    }
  }
}
