@use "../../styles/abstracts" as abs;

.modal {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  width: 40%;
  max-width: 45rem;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: abs.$darker-grey;
  outline: none;

  filter: drop-shadow(0 0 6px black);

  @include abs.respond-to("xl") {
    width: 50%;
  }
  @include abs.respond-to("lg") {
    width: 60%;
  }
  @include abs.respond-to("md") {
    width: 70%;
  }
  @include abs.respond-to("sm") {
    width: 90%;
  }

  &__content {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 2rem;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: 200;
    @include abs.respond-to("sm") {
      padding: 1rem;
    }
  }

  &__closeBtn {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 5rem;
    cursor: pointer;
    color: abs.$light-grey;
    padding: 0.25rem;
    &:hover {
      background-color: abs.$dark-grey;
      color: abs.$hover-purple2;
    }
    svg {
      width: 6rem;
    }
  }
}

.modalOverlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(26, 26, 26, 0.6);
}
