@use "../../styles/abstracts" as abs;

.modal {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1440px;
  background: abs.$darker-grey;
  border-radius: 4px;
  padding: 0 2rem 2rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  &:focus {
    outline: none;
  }

  @include abs.respond-to("md") {
    height: 100vh;
    width: 90%;
    padding: 2rem 2rem 1px 2rem;
    flex-direction: column-reverse;
  }
  @include abs.respond-to("sm") {
    height: 100vh;
    width: 100%;
    padding: 1rem 1rem 1px 1rem;
    margin-bottom: 1px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    box-sizing: border-box;
    z-index: 4;
    overflow-y: scroll;
    overscroll-behavior: contain;
    scrollbar-width: none;
    height: 70vh;
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.5;
    @include abs.respond-to("xl") {
      font-size: 1.125rem;
    }
    @include abs.respond-to("md") {
      height: 100%;
      font-size: 1rem;
    }

    &__title {
      font-size: 1.75rem;
      font-weight: 700;
      color: abs.$hover-purple2;
      @include abs.respond-to("md") {
        font-size: 1.5rem;
      }
    }
    &__pTitles {
      color: abs.$hover-purple2;
      font-size: 1.5rem;

      font-weight: 500;
      @include abs.respond-to("md") {
        font-size: 1.25rem;
      }
    }

    &__title,
    &__pTitles {
      margin: 2rem 0 0.5rem 0;
      @include abs.respond-to("md") {
        margin: 1rem 0 0.5rem 0;
      }
    }

    &__provider,
    &__personals,
    &__dataProcessing {
      margin: 0;
      padding: 0 0 0 2rem;
      @include abs.respond-to("md") {
        margin: 0;
      }
    }

    &__provider {
      display: flex;
      flex-direction: column;
    }

    &__personals {
      display: flex;
      flex-direction: column;
    }
    &__dataProcessing {
      list-style-type: circle;
      display: flex;
      flex-direction: column;
    }
  }

  &__closeBtn {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 7rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: abs.$light-grey;
    &:hover {
      background-color: abs.$dark-grey;
      color: abs.$hover-purple2;
    }
    @include abs.respond-to("md") {
      height: 4rem;
      font-size: 1.5rem;
      padding: 0.5rem 0;
      margin: 0.125rem 0;
    }
    svg {
      width: 4rem;
    }
  }
}

.modalOverlay {
  z-index: 10;
  position: fixed;
  box-sizing: border-box;
  padding: 0.125rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  /* filter: blur(5px); */
}
