@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.hero {
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100vh;
  user-select: none; /*Prevent user blue-select*/
  margin: -#{abs.$headerHeight} 0 0 0; // compensate for header
  background: abs.$bg-patternLos-blackish, abs.$bg-patternLos-purpleish;

  @include abs.respond-to("md") {
    background: abs.$dark-grey;
  }

  @include abs.respond-to("sm") {
    background: abs.$bg-noise, abs.$bg-patternLos-blackish;
  }

  &__content {
    /* max-width: 1200px */
    @include abs.flxAllCtrBox;
    width: 100%;
    height: 100vh;
    flex-direction: column;

    &__container {
      @include abs.flxAllCtrBox;
      align-items: flex-start;
      flex-direction: column;
      width: auto;
      @include abs.respond-to("sm") {
        align-items: center;
      }
      @include abs.respond-to("xs") {
        width: 100%;
        height: 100vh;
        padding: 0 2rem;
        margin: -3rem 0 0 0;
        justify-content: center;
      }

      &__buttonWrapper {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;

        @include abs.respond-to("lg") {
          margin-top: 1rem;
          gap: 1rem;
          /*   gap: 1rem;
          flex-direction: column;
          position: absolute;
          bottom: 1rem; */
          /*   display: none; */
        }
        @include abs.respond-to("sm") {
          display: grid;
          margin-top: 2rem;
          grid-template-columns: auto auto;
          grid-template-rows: auto auto;
          gap: 2rem;
        }
        @include abs.respond-to("xs") {
          display: grid;
          margin-top: 0.5rem;
          grid-template-columns: auto auto;
          grid-template-rows: auto auto;
          gap: 1rem;
        }
        @include abs.respond-to-custom("md", "sm") {
          margin-top: 1rem;
        }
      }
    }
  }
}
