@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.hero {
  user-select: none; /*Prevent user blue-select*/
  background: abs.$bg-patternLos-blackish, abs.$bg-gradient-hero;
  /*Content*/
  &__content {
    /* max-width: 1200px */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*TitleWrapper turned into HeadLine*/
    &__container {
      display: flex;
      flex-direction: column;
      width: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__buttonWrapper {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
        align-items: center;
      }
    }
  }
}
