@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.hero {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100vh;
  user-select: none; /*Prevent user blue-select*/
  margin: -#{abs.$headerHeight} 0 0 0; // compensate for header
  background: abs.$bg-patternLos-blackish, abs.$bg-gradient-hero,
    abs.$bg-patternLos-purpleish;

  &__content {
    /* max-width: 1200px */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
      display: flex;
      flex-direction: column;
      width: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__buttonWrapper {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
        align-items: center;
      }
    }
  }
}
