/*Hex Colors*/
$dark-grey: #1a1a1a;
$grey: #292929;
$mid-grey: #e0e0e0;
$light-grey: #eaeaea;
$white: #ffffff;
$dark-purple: #7c3aed;
$mid-purple: #884eed;
$light-purple: #a287f3;
$hover-purple: #8b5cf6;
$hover-purple2: #cebcf7;
$active-purple: #5a23b5;
/*RGBA Colors*/
$dark-purple-rgba: rgba(124, 58, 237, 0.5);
$mid-purple-rgba: rgba(136, 78, 237, 0.2);
$light-purple-rgba: rgba(162, 135, 243, 0.2);
$dark-grey-rgba: rgba(26, 26, 26, 0.2);
$grey-rgba: rgba(41, 41, 41, 0.2);
$mid-grey-rgba: rgba(224, 224, 224, 0.2);
$light-grey-rgba: rgba(234, 234, 234, 0.2);
$white-rgba: rgba(255, 255, 255, 0.2);
/*Gradient Colors*/
/*75% fade Hero section transition*/
$bg-gradient-hero: linear-gradient(
  185deg,
  rgba(26, 26, 26, 0) 0%,
  rgba(26, 26, 26, 0) 25%,
  rgba(26, 26, 26, 0.3) 75%,
  rgba(26, 26, 26, 1) 90%,
  rgba(26, 26, 26, 1) 100%
);
$bg-gradient-about: linear-gradient(
  185deg,
  rgba(26, 26, 26, 1) 0%,
  rgba(26, 26, 26, 1) 25%,
  rgba(26, 26, 26, 1) 75%,
  rgba(26, 26, 26, 0.7) 90%,
  rgba(26, 26, 26, 0) 100%
);
$bg-gradient-project1: radial-gradient(
  circle,
  rgba(26, 26, 26, 1) 0%,
  rgba(26, 26, 26, 1) 30%,
  rgba(41, 41, 41, 0.5) 60%,
  rgba(124, 60, 235, 0.25) 100%
);
$bg-gradient-project2: linear-gradient(
  200deg,
  rgba(26, 26, 26, 1) 0%,
  rgba(26, 26, 26, 1) 10%,
  rgba(26, 26, 26, 0) 30%,
  rgba(26, 26, 26, 0) 70%,
  rgba(26, 26, 26, 1) 90%,
  rgba(26, 26, 26, 1) 100%
);
$bg-gradient-skills: linear-gradient(
  185deg,
  rgba(26, 26, 26, 1) 0%,
  rgba(26, 26, 26, 1) 25%,
  rgba(26, 26, 26, 1) 75%,
  rgba(26, 26, 26, 0.7) 90%,
  rgba(26, 26, 26, 0) 100%
);
$bg-gradient-contact: linear-gradient(
  185deg,
  rgba(26, 26, 26, 1) 0%,
  rgba(26, 26, 26, 1) 20%,
  rgba(26, 26, 26, 0) 30%,
  rgba(124, 58, 237, 0.2) 100%
);
/*SVG Patterns*/
$bg-pattern: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%237C3CEB' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
$bg-pattern2: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23292929' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
/*Shadow Box*/
$sc-shdw: 0 16px 20px rgba(0, 0, 0, 0.2);
$sc-shdw2: 0 -16px 20px rgba(0, 0, 0, 0.2);
$sc-shdw-grey: 0px 0px 20px rgba(41, 41, 41, 0.7);
$sc-shdw-purple: 4px 2px 20px rgba(124, 58, 237, 0.1);
$sc-shdw-navitems: 0 0px 10px rgba(124, 58, 237, 0.2);
$sc-shdw-navitems2: 0 0px 30px rgba(238, 231, 249, 0.05);

/* 
Travel line to try if need be
$bg-gradient-line: linear-gradient(
  300deg,
  rgba(26, 26, 26, 1) 0%,
  rgba(26, 26, 26, 1) 20%,
  rgba(44, 33, 65, 1) 30%,
  rgba(26, 26, 26, 1) 32%,
  rgba(26, 26, 26, 1) 75%,
  rgba(26, 26, 26, 1) 90%,
  rgba(26, 26, 26, 1) 100%
); */

/* Diamond color purp after opacity
dark:
#2c2141
rgba(44,33,65,1)

corrigé :  normal dark grey

light: 
#2e2146
rgba(46,33,70,1)

corrigé : 
#1f1c25
rgba(31,28,37,1)

*/
