:root {
  --dark-grey: #1a1a1a;
  --darker-grey: #101010;
  --projectSection-height: 500vh;
  --scrollingSection-height: calc(var(--projectSection-height) - 100vh);
  --headerHeight: 4rem;
  --headerHeight-sm: 3rem;
  /*Query Breakpoints*/
  /*Default*/
  /*PreLoader.jsx*/
  --initial-pL-x: 2rem;
  --initial-pL-opacity: 0;
  --animate-pL-x: -12rem;
  --animate-pL-opacity: 1;
  /*Cursor*/
  --initial-bC-x: 0;
  --animate-bC-x: -8.5rem;
  /*glowingPlanet*/
  --initial-gP-y: -15rem;
  --whileInView-gP-y: 0;
  /*Trigger PR*/
  --initial-pR-x: -15rem;
  --initial-pR-opacity: 0;
  --whileInView-pR-x: 0;
  --whileInView-pR-opacity: 1;
  /*Trigger JECTS*/
  --initial-ject-x: 15rem;
  --initial-ject-opacity: 0;
  --whileInView-ject-x: 0;
  --whileInView-ject-opacity: 1;
  /*aboutMe*/
  --initial-aboutTitle-y: -5rem;
  /*imgPortrait*/
  --initial-imgP-opacity: 0;
  --whileInView-imgP-opacity: 1;
  --initial-imgP-x: 2rem;
  --whileInView-imgP-x: 0;
  /*XXLarge*/
  @media (max-width: 1920px) {
    --animate-pL-x: -10.25rem;
  }
  /*XLarge*/
  @media (max-width: 1536px) {
  }
  /*Large*/
  @media (max-width: 1280px) {
  }
  /*Medium*/
  @media (max-width: 1024px) {
    --animate-bC-x: -13.5rem;
    --initial-gP-y: -2rem;
    --initial-pR-x: -2rem;
    --initial-ject-x: 2rem;
  }
  /*Small*/
  @media (max-width: 768px) {
    --initial-pL-x: 0;
    --animate-pL-x: 0;
    --animate-bC-x: 0;
    --initial-gP-y: -2rem;
    --initial-imgP-x: 0rem;
    --initial-imgP-opacity: 1;
    --initial-aboutTitle-y: 0rem;
  }
  /*xSmall*/
  @media (max-width: 480px) {
    --initial-gP-y: 0;
    --initial-pR-x: -1rem;
    --initial-ject-x: 1rem;
  }
  /// HEIGHT CHECKUP
  @media ((max-height: 768px) and (min-width: 769px)) {
    --initial-pL-x: 2rem;
    --animate-pL-x: -8rem;
    --initial-bC-x: -4rem;
    --animate-bC-x: -12rem;
  }
}
/*margins, paddings, widths, heights*/
$headerHeight: 4rem;
$headerHeight-sm: 3rem;
/*Hex Colors*/
$dark-grey: #1a1a1a;
$darker-grey: #101010;
$grey: #292929;
$medium-grey: #a3a3a3;
$mid-grey: #e0e0e0;
$light-grey: #eaeaea;
$white: #ffffff;
$dark-purple: #7c3aed;
$mid-purple: #884eed;
$light-purple: #a287f3;
$hover-purple: #8b5cf6;
$hover-purple2: #cebcf7;
$active-purple: #5a23b5;
/*RGBA Colors*/
$dark-purple-rgba: rgba(124, 58, 237, 0.5);
$mid-purple-rgba: rgba(136, 78, 237, 0.2);
$light-purple-rgba: rgba(162, 135, 243, 0.2);
$dark-grey-rgba: rgba(26, 26, 26, 0.2);
$darker-grey-rgba: rgb(26, 26, 26, 0.5);
$grey-rgba: rgba(41, 41, 41, 0.2);
$mid-grey-rgba: rgba(224, 224, 224, 0.2);
$light-grey-rgba: rgba(234, 234, 234, 0.2);
$white-rgba: rgba(255, 255, 255, 0.2);
$active-purple-rgba: rgba(91, 35, 181, 0.5);
$medium-grey-rgba: rgba(163, 163, 163, 1);
$hover-purple2-rgba: rgb(206, 188, 247, 0.5);
/*Shadow Box*/
$sc-shdw: 0 16px 20px rgba(0, 0, 0, 0.2);
$sc-shdw2: 0 -16px 20px rgba(0, 0, 0, 0.2);
$filterS-Center-4px: drop-shadow(0px 0px 4px black);
$projectCard-filterS: drop-shadow(0.5rem 1rem 0.5rem rgba(26, 26, 26, 1));
/*Gradient Colors*/
$bg-gradient-header: linear-gradient(
  180deg,
  rgba(26, 26, 26, 1) 0%,
  rgba(26, 26, 26, 1) 85%,
  rgba(26, 26, 26, 0) 100%
);
$bg-gradient-project1-2-800vh: radial-gradient(
  circle at 50% 50%,
  rgba(26, 26, 26, 1) 0%,
  rgba(26, 26, 26, 1) 78%,
  rgba(26, 26, 26, 0.7) 80%,
  rgba(124, 60, 235, 0.2) 90%,
  rgba(124, 60, 235, 0.5) 100%
);
$bg-gradient-project1-2-500vh: radial-gradient(
  circle at 50% 50%,
  rgba(26, 26, 26, 1) 0%,
  rgba(26, 26, 26, 1) 60%,
  rgba(26, 26, 26, 0.7) 65%,
  rgba(124, 60, 235, 0.2) 80%,
  rgba(124, 60, 235, 0.5) 100%
);
$bg-gradient-project2: linear-gradient(
  200deg,
  rgba(26, 26, 26, 1) 0%,
  rgba(26, 26, 26, 1) 10%,
  rgba(26, 26, 26, 0) 30%,
  rgba(26, 26, 26, 0) 70%,
  rgba(26, 26, 26, 1) 90%,
  rgba(26, 26, 26, 1) 100%
);
$bg-gradient-skills: linear-gradient(
  185deg,
  rgba(26, 26, 26, 0) 0%,
  rgba(26, 26, 26, 0) 70%,
  /*  rgba(26, 26, 26, 0) 75%, */ rgba(26, 26, 26, 1) 90%,
  rgba(26, 26, 26, 1) 100%
);
$bg-gradient-portrait: radial-gradient(
  circle at 50% 50%,
  rgba(162, 135, 243, 0.3) 0%,
  rgba(124, 60, 235, 0) 70%,
  rgba(0, 0, 0, 0) 100%
);
/*SVG Patterns*/
$bg-patternLos-purpleish: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%237C3CEB' fill-opacity='0.015' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
$bg-patternLos-blackish: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23292929' fill-opacity='0.015' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
//DotTexture
$bg-noise: url("../../assets/img/bgd/n1.svg");
$bg-noise2: url("../../assets/img/bgd/n2.svg");
//Project's GlowingPlanet
$bg-circle1: url("../../../assets/img/bgd/c1.svg");
