// ORDER MATTERS FRIENDS!
@use "abstracts" as abs;
@use "base" as base;
@use "components" as comp;
@use "layout" as lay;
@use "pages" as pg;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Global Styles */
/* Hide scrollbar in IE and Edge */
/* Hide scrollbar in Firefox */
/* Hide scrollbar in Chrome, Safari and Opera */
h1,
h3,
button,
p,
ul,
li,
textarea,
input,
form {
  all: unset;
}

/* 
// FIX THE PROBLEM OF SCROLLING OUT OF VIEW WITH TOUCH DEVICES (mobiles)
// NOT TO USE WHEN NOT ON MOBILES
// The problem comes from the overflow-x: hidden for body as it cancels the horizontal scroll of projects section
// But overflow-x: hidden on html {} FIXES THE PROBLEM middle mouse button problem on Desktop

html, body {
  overflow-x: hidden;
}
body {
  position: relative
} */

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-x: hidden;
}

html,
body {
  position: relative; // removes the console warning for scrollX
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: abs.$white;
  background: abs.$dark-grey;

  @media (pointer: coarse) {
    // detect touch devices
    overflow-x: hidden;
  }
}

/* Wrapper for the entire app */
.App {
  /* position: relative; */
  height: 100%; /* Ensure it takes up the full viewport */
  width: 100%; /* Ensure it takes up the full viewport */
  position: relative;
}

/* Particles wrapper */
.particles-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Push particles behind content */
}
/* Particles id props i have to pass */
#tsparticlesHero {
  width: 100vw;
  height: 100vh;
}

#tsparticlesProjects {
  width: 100vw;
  height: 100vh;
}

.header-wrapper {
  z-index: 999;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: abs.$headerHeight;
  width: 100%;
}

.options-wrapper {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0 3rem 0 3rem;
  z-index: 10;
  background: abs.$dark-grey;
  transform: scaleX(0);
  transform-origin: left;
  overflow: hidden;
  transition: transform 500ms cubic-bezier(0.19, 0.99, 0.31, 0.98);
  &.visible {
    transform: scaleX(1);
  }
}

.sideMenuNavigation-wrapper {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  padding: 0 100px 0 0;
  top: 0;
  right: 0;
}

.content-wrapper {
  position: relative;
  margin: 0 auto;
  /*  height: 100vh; */ // problem with stiky header
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
}
