@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.hireMeForm {
  @include abs.flxAllCtrBox;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__form {
    z-index: 0;
    @include abs.flxAllCtrBox;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0rem 4rem 2rem 2rem;
    gap: 1rem;
    overflow: hidden;

    @include abs.respond-to("md") {
      padding: 0;
      box-shadow: none;
      justify-content: center;
    }

    @include abs.respond-to-custom("sm", "lg") {
      padding: 0;
    }

    @include abs.respond-to-custom("sm", "md") {
      gap: 0.5rem;
    }

    &__headline {
      @include abs.flxAllCtrBox;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      padding: 2rem 0rem;
      gap: 0.5rem;

      @include abs.respond-to("md") {
        padding: 1rem 0rem;
      }

      @include abs.respond-to-custom("sm", "md") {
        padding: 0 0 0.5rem 0;
      }

      &__txt {
        display: flex;
        flex-direction: row;
        color: abs.$light-grey;
        font-weight: 900;
        font-size: 2rem;
        letter-spacing: 1px;
        line-height: 1;
        text-transform: uppercase;
        gap: 0.25rem;
        &__purple {
          margin: 0 0.25rem;
          color: abs.$dark-purple;
        }

        @include abs.respond-to("xs") {
          text-align: left;
        }
        @include abs.respond-to-custom("sm", "md") {
          font-size: 1.5rem;
        }
        @include abs.respond-to-custom("sm", "sm") {
          font-size: 1.25rem;
        }
      }
    }

    &__userInfos {
      @include abs.flxAllCtrBox;
      justify-content: flex-start;
      width: 100%;
      gap: 2rem;
      flex-wrap: wrap;

      @include abs.respond-to("xxl") {
        gap: 1rem;
      }
      @include abs.respond-to-custom("md", "md") {
        gap: 0.5rem;
      }

      &__name,
      &__email,
      &__organization,
      &__phone {
        @include abs.flxAllCtrBox;
        padding: 0 1rem;
        flex-direction: column;
        /*   width: 20%; */
        flex-grow: 1;
        min-width: 20rem;
        /* box-shadow: 0 1px 0 abs.$hover-purple; */
        background-color: abs.$darker-grey;
        color: abs.$light-grey;
        font-size: 1.25rem;
        height: 3rem;
        min-height: 3rem;
        font-weight: 400;
        border: 2px solid abs.$grey;
        border-radius: 4px;
        &::placeholder {
          color: abs.$hover-purple2;
          user-select: none;
          font-weight: 200;
        }
      }

      /* &__name {
        max-width: 20%;
      }

      &__email {
        max-width: 25%;
      }

      &__organization {
        max-width: 35%;
      }

      &__phone {
        max-width: 20%;
      } */
    }

    &__txtContent {
      @include abs.flxAllCtrBox;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      /*     margin: 1rem 0 0 0; */
      padding: 1rem 0;
      gap: 1rem;
      border-radius: 4px;
      border: 2px solid abs.$grey;

      &__txtProjInfo {
        @include abs.flxAllCtrBox;
        justify-content: flex-start;
        width: 100%;
        gap: 2rem;
        padding: 0rem 1rem;

        @include abs.respond-to("xxl") {
          gap: 1rem;
        }
        @include abs.respond-to-custom("sm", "sm") {
          padding: 0rem 0.5rem;
        }

        &__object,
        &__deadline {
          @include abs.flxAllCtrBox;
          padding: 0 1rem;
          flex-direction: column;
          width: 50%;
          background-color: abs.$dark-grey;
          color: abs.$light-grey;
          font-size: 1.25rem;
          height: 3rem;
          min-height: 3rem;
          font-weight: 500;
          border-radius: 4px;
          &::placeholder {
            color: abs.$light-grey;
            user-select: none;
            font-weight: 500;
          }
        }

        &__deadline {
          font-weight: 200;
          &::placeholder {
            color: abs.$light-grey;
            user-select: none;
            font-weight: 200;
          }
        }
      }

      &__message {
        @include abs.flxAllCtrBox;
        flex-direction: column;
        width: 100%;
        padding: 1rem 2rem;
        margin: 0rem 0 2rem 0;
        font-size: 1.25rem;
        font-weight: 200;

        background-color: abs.$darker-grey;
        color: abs.$light-grey;
        height: auto;
        resize: none;
        overflow-y: auto;
        word-wrap: break-word;
        white-space: pre-wrap;
        scrollbar-color: abs.$hover-purple abs.$darker-grey;
        overscroll-behavior: contain;
        scrollbar-width: auto;
        &::placeholder {
          color: abs.$light-grey;
          user-select: none;
        }
        @include abs.respond-to-custom("sm", "sm") {
          padding: 0.5rem 1rem;
          margin: 0rem 0 0.5rem 0;
        }
      }
    }

    &__buttonWrapper {
      display: flex;
      @include abs.flxAllCtrBox;
      justify-content: center;
      width: 100%;
      padding: 1rem;
      gap: 2rem;

      @include abs.respond-to-custom("md", "sm") {
        padding: 0.5rem;
      }
    }
  }
}

.confirmation {
  z-index: 10;
  @include abs.flxAllCtrBox;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10rem 2rem 0 2rem;
  border: none;
  font-size: 1.5rem;
  overflow: hidden;
  gap: 4rem;
  user-select: none;
  background-color: abs.$darker-grey;

  &__content {
    @include abs.flxAllCtrBox;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

    &__txt {
      width: 100%;
      @include abs.flxAllCtrBox;
      flex-direction: column;
      text-align: center;

      &__headLine,
      &__subLine {
        width: 100%;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: 1px;
        line-height: 1;
      }
      &__thanks {
        margin: 2rem 0 0 0;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1;
      }
    }

    &__icon {
      @include abs.flxAllCtrBox;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;

      svg {
        width: 100%;
        height: 100%;
        color: abs.$dark-purple;
      }
    }
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
