@use "../../styles/abstracts" as abs;

.skills {
  z-index: 1; /* Allows About me to be above Projects, thus making the shadow box visible*/
  background: abs.$bg-pattern2, abs.$dark-grey;
  box-shadow: abs.$sc-shdw2;
}
