@use "../../styles/abstracts" as abs;

.skills {
  z-index: 1; /* Allows Skills to be above Projects, thus making the shadow box visible*/
  background: abs.$bg-gradient-skills, abs.$bg-noise,
    abs.$bg-patternLos-blackish, abs.$dark-grey;
  box-shadow: abs.$sc-shdw2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 2rem;
    box-sizing: border-box;

    &__title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      font-weight: 100;
      letter-spacing: 3rem;
      margin: 1rem -3rem 3rem 0; // negative margin compensate letter spacing
      box-sizing: border-box;
      text-transform: uppercase; // Probably will change that
    }

    &__grid {
      box-sizing: border-box;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
      gap: 3.5rem;
      width: 100%;
      /* max-width: 1200px;  */ // To redefine, care when going through breakpoints later on
      height: auto;
      margin: 4rem 0;

      &__item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        height: auto;

        &__logo {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          padding: 0.5rem;
          width: 6rem;
          height: 6rem;
          /*   height: auto; */
          /* cursor: none; */
        }

        &__name {
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;
          width: 100%;
          font-size: 0.875rem;
          color: abs.$light-grey;
          font-weight: 200;
        }
      }
    }
  }
}
