@use "../../../styles/abstracts" as abs;
@use "../../../styles/base" as base;

.subLine {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px;
  letter-spacing: 1px;
  color: abs.$light-grey;
  font-weight: 400;
  @include abs.respond-to("sm") {
    align-items: center;
    margin: 1rem 0 0rem 0;
  }

  &__name {
    font-size: 3rem;
    color: abs.$light-grey;
    font-weight: 500;
    filter: drop-shadow(-2px -2px 4px black);

    @include abs.respond-to("lg") {
      font-size: 1.75rem;
    }
    @include abs.respond-to("xs") {
      font-size: 1.5rem;
    }
    @include abs.respond-to-custom("md", "sm") {
      font-size: 2rem;
    }
  }
  &__hobbie {
    letter-spacing: 5px;
    font-size: 2rem;
    font-weight: 200;
    color: abs.$hover-purple;
    /*   filter: drop-shadow(1px 2px 2px abs.$mid-purple-rgba); */
    filter: drop-shadow(-2px -2px 4px black);
    @include abs.respond-to("lg") {
      font-size: 1.75rem;
    }
    @include abs.respond-to("xs") {
      font-size: 1rem;
      color: abs.$hover-purple2;
    }

    @include abs.respond-to-custom("md", "sm") {
      font-size: 1.75rem;
    }
  }
}
