@use "../../styles/abstracts" as abs;

.circleLoader {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    transparent,
    transparent 70%,
    abs.$dark-purple
  );
  animation: loader 20s linear infinite;
  opacity: 40%;
  &::before {
    content: "";
    position: absolute;
    top: 35px;
    bottom: 35px;
    left: 35px;
    right: 35px;
    background: abs.$dark-grey;
    border-radius: 50%;
    z-index: 2;
    box-shadow: inset -3rem 2rem 2rem -2rem abs.$dark-purple-rgba;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(
      90deg,
      transparent,
      transparent 70%,
      abs.$dark-purple
    );
    border-radius: 50%;
    z-index: 1;
    filter: blur(2rem);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
