@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.preLoader {
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  right: 0;
  background-color: abs.$mid-grey;
  border-radius: 4px;
  font-size: 4rem;
  height: 7rem;
  width: 100%;
  font-family: base.$hero-title-font-family;
  font-weight: base.$hero-title-font-weight;
  @include abs.respond-to("xs") {
    font-size: 2rem;
    height: 4rem;
  }
  &__puce {
    // # before
    margin: 0 1rem 0 2rem;
    font-size: 4rem;
    color: abs.$dark-purple;
    text-align: right;
    @include abs.respond-to("xs") {
      font-size: 2rem;
    }
  }
  &__txt {
    color: abs.$darker-grey;
    text-align: left;
  }
  &__txtpHolder {
    background: transparent;
    color: abs.$darker-grey;
  }
}
