@use "../../styles/abstracts" as abs;

.contactInfo {
  position: relative;
  @include abs.flxAllCtrBox;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem;

  /*   @include abs.respond-to("xl") {
  } */

  @include abs.respond-to("md") {
    padding: 0rem 0;
  }
  @include abs.respond-to("sm") {
    padding: 2rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 2rem;
    @include abs.respond-to("md") {
      gap: 3rem;
      height: auto;
    }
    @include abs.respond-to("sm") {
      gap: 6rem;
    }

    &__leftHeadLine {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      box-sizing: border-box;
      width: 100%;
      height: auto;
      user-select: none;

      @include abs.respond-to("md") {
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: flex-start;
        flex-direction: row;
        font-size: 1.75rem;
      }

      &__txt {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        font-weight: 900;
        font-size: 3rem;
        letter-spacing: 2px;
        line-height: 1;
        text-transform: uppercase;
        gap: 0.25rem;

        @include abs.respond-to("xxl") {
          font-size: 2.25rem;
        }
        @include abs.respond-to("xl") {
          font-size: 2rem;
        }
        @include abs.respond-to("lg") {
          font-size: 1.75rem;
        }

        &__available {
          box-sizing: border-box;
          line-height: 3;
          margin: 0 0 6px 0;
          width: 0.75rem;
          height: 0.75rem;
          background-color: green;
          filter: drop-shadow(0 0 6px green);
          border-radius: 50%;
          animation: available 2s linear 1s infinite;
        }
        @include abs.respond-to("sm") {
          padding: 0;
          font-size: 2rem;
        }
      }
    }

    &__leftInfo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      box-sizing: border-box;
      padding: 0 0 0 2rem;
      width: 100%;
      height: auto;
      gap: 1rem;

      @include abs.respond-to("xxl") {
        box-shadow: -1px 0 0 abs.$hover-purple;
      }
      @include abs.respond-to("xl") {
        padding: 0 0 0 0rem;
        box-shadow: none;
      }
      @include abs.respond-to("sm") {
        padding: 0 0 0 1rem;
        box-shadow: -1px 0 0 abs.$hover-purple;
      }

      &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        gap: 1rem;

        svg {
          color: abs.$hover-purple2;
        }

        &__txt {
          font-size: 1.25rem;
          font-weight: 200;
          @include abs.respond-to("sm") {
            font-size: 1rem;
          }
        }
      }
    }

    &__links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      margin: 0 0 2rem 0;
      width: 100%;
      height: auto;
      gap: 2rem;

      @include abs.respond-to("xl") {
        padding: 0;
        flex-wrap: wrap;
        gap: 1.5rem;
      }
      @include abs.respond-to("md") {
      }
      @include abs.respond-to("xs") {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
        justify-items: start;
        padding: 0;
        gap: 1rem 2rem;
      }

      &__itemWrapper {
        @include abs.flxAllCtrBox;
        width: auto;
        height: auto;
        gap: 1rem;

        &__item {
          @include abs.flxAllCtrBox;
          gap: 1rem;
          font-size: 1.25rem;
          font-weight: 200;
          color: abs.$white;
          text-decoration: none;
          transition: all 150ms ease-in-out;
          svg {
            color: abs.$hover-purple2;
          }
          &:hover {
            color: abs.$hover-purple2;
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@keyframes available {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
