@use "../../styles/abstracts" as abs;

.contact {
  @include abs.flxAllCtrBox;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  @include abs.respond-to("md") {
    height: auto;
    padding: 4rem 0;
  }
  @include abs.respond-to("sm") {
    background-color: abs.$darker-grey;
    width: 100%;
  }

  @include abs.respond-to-custom("md", "sm") {
    height: auto;
    padding: 3rem 0 3rem 0;
  }

  &__container {
    @include abs.flxAllCtrBox;
    flex-direction: column;
    height: 70%;
    width: 80%;
    max-width: 1440px;
    background-color: abs.$mid-purple;
    filter: drop-shadow(-20px -30px 2rem abs.$mid-purple-rgba);
    padding: 0.25rem;
    border-radius: 4px;

    @include abs.respond-to("xxl") {
      width: 70%;
      max-width: 1200px;
    }
    @include abs.respond-to("xl") {
      width: 80%;
    }
    @include abs.respond-to("lg") {
      filter: none;
      width: 90%;
    }
    @include abs.respond-to("md") {
      height: 90%;
    }
    @include abs.respond-to("sm") {
      width: 100%;
      padding: 0;
      height: auto;
    }

    @include abs.respond-to-custom("md", "sm") {
      height: 90vh;
      width: 90%;
    }

    @include abs.respond-to-custom("md", "xs") {
      height: auto;
      width: 90%;
    }
    &__content {
      @include abs.flxAllCtrBox;
      flex-direction: row;
      width: 100%;
      height: 100%;
      padding: 2rem 2rem;
      background-color: abs.$darker-grey;
      overflow: hidden;
      border-radius: 4px;
      box-shadow: 4px 4px 8px abs.$darker-grey;

      @include abs.respond-to("md") {
        padding: 2rem;
        flex-direction: column;
      }
      @include abs.respond-to("sm") {
        padding-top: 2rem;
      }
      @include abs.respond-to("xs") {
        padding: 6rem 1rem 1rem 1rem;
      }
      @include abs.respond-to-custom("md", "sm") {
        padding: 1rem 2rem;
      }
      @include abs.respond-to-custom("md", "xs") {
        flex-direction: column;
      }

      &__LBlock {
        box-shadow: 0 1px 0 abs.$hover-purple;
      }

      &__RBlock {
        position: relative;
      }

      &__LBlock,
      &__RBlock {
        @include abs.flxAllCtrBox;
        flex-direction: column;
        width: 50%;
        height: 100%;
        @include abs.respond-to("md") {
          width: 100%;
          height: 50%;
        }
        @include abs.respond-to("xs") {
          width: 100%;
          height: auto;
          box-shadow: none;
        }

        @include abs.respond-to-custom("md", "xs") {
          width: 100%;
          height: 50%;
          /*   box-shadow: none; */
        }
      }
    }
  }
}
