@use "../../styles/abstracts" as abs;

.contact {
  @include abs.flxAllCtrBox;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* background: abs.$bg-noise; */
  @include abs.respond-to("xs") {
    width: 100%;
    height: auto;
  }

  &__container {
    @include abs.flxAllCtrBox;
    flex-direction: column;
    height: auto;
    min-height: 70%;
    max-height: 90%;
    width: 80%;
    max-width: 1440px;
    background-color: abs.$mid-purple;
    filter: drop-shadow(-20px -30px 2rem abs.$mid-purple-rgba);
    padding: 0.25rem;
    border-radius: 4px;
    @include abs.respond-to("xs") {
      width: 100%;
      padding: 0;
      height: auto;
      filter: none;
    }

    &__content {
      @include abs.flxAllCtrBox;
      flex-direction: row;
      width: 100%;
      height: 100%;
      padding: 2rem 2rem;
      background-color: abs.$darker-grey;
      overflow: hidden;
      border-radius: 4px;
      box-shadow: 4px 4px 8px abs.$darker-grey;

      @include abs.respond-to("xs") {
        padding: 2rem;
        flex-direction: column;
      }

      &__LBlock {
        @include abs.flxAllCtrBox;
        flex-direction: column;
        width: 50%;
        height: 100%;
        /*     border-bottom: 1px solid abs.$hover-purple; */
        box-shadow: 0 1px 0 abs.$hover-purple;
        @include abs.respond-to("xs") {
          width: 100%;
          height: auto;
          box-shadow: none;
        }
      }

      &__RBlock {
        position: relative;
        @include abs.flxAllCtrBox;
        flex-direction: column;
        width: 50%;
        height: 100%;
        @include abs.respond-to("xs") {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
