@use "../../styles/abstracts" as abs;

.langSwitcher {
  z-index: 31;
  position: absolute;
  @include abs.flxAllCtrBox;
  flex-direction: column;

  @include abs.respond-to("md") {
    top: 1rem;
    right: 0rem;
  }

  &.hero {
    margin-right: 5.5rem;
    top: 1rem;
    bottom: auto;
    right: 0;
    @include abs.respond-to("xxl") {
      margin-right: 3.5rem;
    }
    @include abs.respond-to("xl") {
      margin-right: 2.5rem;
    }
    @include abs.respond-to("lg") {
      margin-right: 0.5rem;
    }
  }
  &.header {
    top: auto;
    bottom: auto;
    right: 4.5rem;
    left: auto;
  }
}
