@use "../../../styles/abstracts" as abs;

.glowingPlanet {
  position: relative;
  z-index: 1;
  @include abs.flxAllCtrBox;
  flex-direction: column;
  width: 25rem;
  height: 25rem;
  margin: 0 0.5rem 0 0;
  will-change: transform, opacity, scale;
  transform: translateZ(0);
  backface-visibility: hidden;

  @include abs.respond-to("xxl") {
    width: 14rem;
    height: 14rem;
  }

  @include abs.respond-to("xl") {
    width: 10rem;
    height: 10rem;
  }

  @include abs.respond-to("lg") {
    width: 6rem;
    height: 6rem;
  }
  @include abs.respond-to("md") {
    width: 4.5rem;
    height: 4.5rem;
  }
  @include abs.respond-to("sm") {
    width: 3rem;
    height: 3rem;
  }
  @include abs.respond-to("xs") {
    width: 2rem;
    height: 2rem;
  }
  @include abs.respond-to-custom("md", "sm") {
    width: 4.5rem;
    height: 4.5rem;
  }

  &__container {
    position: absolute;
    overflow: hidden;
    @include abs.flxAllCtrBox;
    align-content: center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: 2;
    filter: drop-shadow(0rem 0rem 3rem abs.$dark-purple);
    @include abs.respond-to("xxl") {
      width: 12.5rem;
      height: 12.5rem;
    }

    @include abs.respond-to("xl") {
      width: 9rem;
      height: 9rem;
    }
    @include abs.respond-to("lg") {
      width: 5.5rem;
      height: 5.5rem;
    }
    @include abs.respond-to("md") {
      width: 4.125rem;
      height: 4.125rem;
    }
    @include abs.respond-to("sm") {
      width: 2.75rem;
      height: 2.75rem;
    }
    @include abs.respond-to("xs") {
      width: 1.875rem;
      height: 1.875rem;
    }

    @include abs.respond-to-custom("md", "sm") {
      width: 4rem;
      height: 4rem;
    }

    &__orb {
      margin: -1.25rem;
      box-sizing: border-box;
      border-radius: 50%;
      background: no-repeat center abs.$bg-circle1;
      width: 350px;
      height: 350px;
      animation: boostedLoader 2s linear infinite;
      &:hover {
        animation: boostedLoader 0.5s linear infinite;
      }

      @include abs.respond-to("xxl") {
        width: 14rem;
        height: 14rem;
      }
      @include abs.respond-to("xl") {
        width: 10rem;
        height: 10rem;
      }
      @include abs.respond-to("lg") {
        width: 6rem;
        height: 6rem;
      }
      @include abs.respond-to("md") {
        width: 4.5rem;
        height: 4.5rem;
      }
      @include abs.respond-to("sm") {
        width: 3rem;
        height: 3rem;
      }
      @include abs.respond-to("xs") {
        width: 2rem;
        height: 2rem;
      }

      @include abs.respond-to-custom("md", "sm") {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
  }
}

@keyframes boostedLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
