@use "../../../styles/abstracts" as abs;

.glowingPlanet {
  position: relative;
  z-index: 1;
  @include abs.flxAllCtrBox;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin: 0 0.5rem 0 0;
  @include abs.respond-to("lg") {
    width: 6rem;
    height: 6rem;
  }
  @include abs.respond-to("xs") {
    width: 2rem;
    height: 2rem;
  }

  &__container {
    position: absolute;
    overflow: hidden;
    @include abs.flxAllCtrBox;
    align-content: center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: 2;
    filter: drop-shadow(0rem 0rem 3rem abs.$dark-purple);
    @include abs.respond-to("lg") {
      width: 5.5rem;
      height: 5.5rem;
    }

    @include abs.respond-to("xs") {
      width: 2rem;
      height: 2rem;
    }

    &__orb {
      margin: -1.25rem;
      box-sizing: border-box;
      border-radius: 50%;
      background: no-repeat center abs.$bg-circle1;
      width: 350px;
      height: 350px;
      animation: boostedLoader 2s linear infinite;
      &:hover {
        animation: boostedLoader 0.5s linear infinite;
      }

      @include abs.respond-to("lg") {
        width: 6rem;
        height: 6rem;
      }

      @include abs.respond-to("xs") {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

@keyframes boostedLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
