@use "../../../styles/abstracts" as abs;

.glowingPlanet {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 0 0.5rem 0 0;

  &__container {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: 2;
    filter: drop-shadow(0rem 0rem 3rem abs.$dark-purple);
    &__orb {
      margin: -1.25rem;
      box-sizing: border-box;
      border-radius: 50%;
      background: no-repeat center abs.$bg-circle1;
      width: 350px;
      height: 350px;
      animation: boostedLoader 2s linear infinite;
      &:hover {
        animation: boostedLoader 0.5s linear infinite;
      }
    }
  }
}

@keyframes boostedLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
