@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.nav {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  padding: 0 0 0 2rem;
  height: 100%;
  &.fadein {
    animation: fadein 500ms ease backwards;
  }
  &.fadeout {
    animation: fadeout 1s ease forwards;
  }

  /*   @include abs.respond-to("xs") {
    background-color: abs.$darker-grey;
  } */

  &__list {
    user-select: none;
    z-index: 3;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    border-radius: 4px;

    &__item {
      box-sizing: border-box;
      z-index: 4;
      display: flex;
      width: auto;
      height: auto;
      gap: 1rem;
      font-family: base.$main-btn-font-family;
      letter-spacing: base.$main-btn-spacing;
      font-weight: 200;
      padding: 2rem 2rem;
      text-align: end;
      border-radius: 4px;
      font-size: 1.5rem;
      color: abs.$white;
      cursor: pointer;
      @include abs.respond-to("xs") {
        padding: 1rem 1rem;
      }
      &__icon {
        box-sizing: border-box;
      }
    }

    &__bubble {
      z-index: -10;
      position: absolute;
      @include abs.flxAllCtrBox;
      align-self: center;
      flex-direction: column;
      right: 0; //important
      margin: 1.5rem 0 0 0;
      height: 3rem;
      border-radius: 4px;
      background: abs.$dark-purple;
    }
  }
}

@keyframes fadein {
  0% {
    transform: translateX(20rem);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  10% {
    opacity: 0;
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(20rem);
    opacity: 0;
  }
}
