@use "../../styles/abstracts" as abs;

.aboutMe {
  @include abs.flxAllCtrBox;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: 1; /* Allows About me to be above Projects, thus making the shadow box visible*/
  background: abs.$bg-gradient-project2, abs.$bg-noise,
    abs.$bg-patternLos-blackish, abs.$dark-grey;
  box-shadow: abs.$sc-shdw; /*Shadow to define, not final*/

  @include abs.respond-to("lg") {
    height: 100%;
    min-height: 100vh;
    padding: 2rem 2rem;
  }

  @include abs.respond-to("sm") {
    background: abs.$bg-noise, abs.$dark-grey;
    height: auto;
    padding: 8rem 2rem 4rem 2rem;
  }
  @include abs.respond-to("xs") {
    height: auto;
    padding: 2rem 1rem 4rem 1rem;
  }

  &__container {
    /* box-shadow: -1px -1px 0 abs.$hover-purple; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "aboutMe__container__headLine aboutMe__container__headLine aboutMe__container__headLine"
      "aboutMe__container__title aboutMe__container__portrait aboutMe__container__description";
    width: auto;
    max-width: 1440px;
    height: auto;
    border-radius: 4px;
    border: 10px solid abs.$bg-gradient-project1-2;
    margin: 1rem;
    padding: 2rem 4rem;
    gap: 0rem 5rem;

    @include abs.respond-to("xl") {
      grid-template-columns: 4rem auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "aboutMe__container__headLine aboutMe__container__headLine"
        "aboutMe__container__title aboutMe__container__portrait" "aboutMe__container__title aboutMe__container__description";
      gap: 1.5rem 2rem;
      padding: 1rem 3rem;
      width: 80%;
    }
    @include abs.respond-to("lg") {
      gap: 1.5rem 2rem;
      padding: 0;
      width: 90%;
      margin: 0;
    }

    @include abs.respond-to("md") {
      gap: 1.5rem 2rem;
      padding: 0;
      width: 100%;
      margin: 0;
    }

    @include abs.respond-to("sm") {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
        "aboutMe__container__title"
        "aboutMe__container__portrait"
        "aboutMe__container__headLine"
        "aboutMe__container__description";
    }
    @include abs.respond-to("xs") {
      padding: 0;
      gap: 1rem;
    }

    @include abs.respond-to-custom("md", "sm") {
      gap: 1rem 2rem;
    }

    &__headLine {
      grid-area: aboutMe__container__headLine;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 0 0 0 4rem;
      gap: 2rem;
      box-sizing: border-box;

      @include abs.respond-to("xl") {
        gap: 1rem;
        padding: 0 0 0 1.5rem;
      }
      @include abs.respond-to("lg") {
        gap: 0.5rem;
        padding: 0 0 0 1.5rem;
      }

      @include abs.respond-to("sm") {
        padding: 0;
      }
      @include abs.respond-to("xs") {
        gap: 0rem;
        text-align: center;
      }
      @include abs.respond-to-custom("md", "sm") {
        gap: 0.5rem;
      }
    }

    &__title {
      grid-area: aboutMe__container__title;
      @include abs.flxAllCtrBox;
      width: auto;
      height: 100%;
      padding: 0 1rem;
      overflow: hidden;
      width: 4rem;
      user-select: none;

      @include abs.respond-to("sm") {
        width: 100%;
        height: 3rem;
        margin: auto;
      }
      @include abs.respond-to("xs") {
        padding: 0;
      }

      &__lList {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        @include abs.respond-to("sm") {
          justify-content: space-between;
          flex-direction: row;
          width: 100%;
          height: auto;
          gap: 0.1rem;
        }
        @include abs.respond-to("xs") {
          gap: 0.1rem;
        }

        &__letter {
          list-style: none;
          @include abs.flxAllCtrBox;
          width: 1.75rem;
          height: auto;
          color: abs.$light-purple;
          font-size: 1.75rem;
          font-weight: 500;
          @include abs.respond-to-custom("md", "sm") {
            font-size: 1.25rem;
          }
          &__notV {
            opacity: 0;
          }
        }
      }
    }
    &__portrait {
      z-index: 1;
      grid-area: aboutMe__container__portrait;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 3rem;
      margin: 4rem 0 0 0;
      box-sizing: border-box;
      width: auto;
      height: auto;

      @include abs.respond-to("xl") {
        width: 100%;
        border-radius: 4px;
        gap: 2rem;
        margin: 0 0 0 0;
        /*   background-color: abs.$light-purple-rgba; */
        background-color: abs.$darker-grey;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
        height: 12.5rem;
      }
      @include abs.respond-to("lg") {
        padding: 0 2rem;
      }

      @include abs.respond-to("md") {
        padding: 0 1rem;
        height: 10rem;
        justify-content: space-around;
      }

      @include abs.respond-to("sm") {
        justify-content: center;
        padding: 0;
        height: 15rem;
      }
      @include abs.respond-to("xs") {
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
        gap: 2rem;
      }
      @include abs.respond-to-custom("md", "sm") {
        height: 8rem;
      }

      &__imgWrapper {
        // old portraitCointainer now container
        z-index: 2;
        position: relative;
        /* overflow: hidden; */
        @include abs.flxAllCtrBox;
        flex-direction: column;
        width: 425px;
        height: 425px;
        user-select: none;
        cursor: grab;
        filter: drop-shadow(4px 6px 20px black);
        background: abs.$bg-gradient-portrait;
        @include abs.respond-to("xl") {
          width: auto;
          height: 100%;
          padding: 0;
          filter: none;
        }
        @include abs.respond-to("lg") {
          width: auto;
          height: 100%;
          padding: 0;
        }

        @include abs.respond-to("md") {
          width: auto;
          height: 100%;
        }

        &__img {
          z-index: 2;
          display: flex;
          width: 100%;
          height: 100%;
          object-fit: contain;
          box-sizing: border-box;
          clip-path: circle(65% at 50% 50%);
          @include abs.respond-to("xl") {
            width: 100%;
            clip-path: none;
            /*   padding: 0; */
          }
        }

        &__canvas {
          z-index: 3;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          clip-path: circle(65% at 50% 50%);
          @include abs.respond-to("xl") {
            display: none;
          }
          @include abs.respond-to("xs") {
            display: none;
          }
        }

        &__resetButton {
          @include abs.flxAllCtrBox;
          width: 3rem;
          height: 1rem;
          position: absolute;
          bottom: 5%; // Adjust position as needed
          left: 50%;
          transform: translateX(-50%);
          padding: 10px 20px;
          font-size: 0.875rem;
          color: white;
          background-color: #a287f3;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          z-index: 10; // Ensure it appears above the canvas
          transition: background-color 0.3s;

          &:hover {
            background-color: #8c6de3; // Slightly darker shade on hover
          }
        }
      }
    }
    &__description {
      grid-area: aboutMe__container__description;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      width: auto;
      height: 100%;
      padding: 0;
      box-sizing: border-box;
      gap: 3.5rem;
      @include abs.respond-to("xl") {
        gap: 1rem;
        padding: 0 0 1rem 0;
        box-shadow: 0 1px 0 abs.$hover-purple;
      }
      @include abs.respond-to("lg") {
        gap: 2rem;
        padding: 0 0 1rem 0;
      }
      @include abs.respond-to("xs") {
        gap: 1rem;
      }

      &__maskTextWrapper {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        gap: 0.25rem;
        box-sizing: border-box;
        @include abs.respond-to("xs") {
          text-align: justify;
          font-weight: 200;
        }
      }

      &__subLine {
        display: flex;
        width: 100%;
        @include abs.respond-to("xl") {
          justify-content: flex-end;
        }

        @include abs.respond-to("xs") {
          justify-content: center;
        }
      }
    }
  }
}
